footer {
  background-color: #070000;
  color: #fff;
}

.btn-contact{
  border: 1px solid #fff;
  background-color: #070000;
  text-transform: uppercase;
  margin-top: 6px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.btn-contact:hover{
  border: none;
  background-color: #FDD306;
  color: #070000;
}