footer {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-contact{
  border: 1px solid var(--color-white);
  background-color: var(--color-secondary);
  text-transform: uppercase;
  margin-top: 6px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.btn-contact:hover{
  border: none;
  background-color: var(--color-primary);
  color: var(--color-black);
}