header {
  background-color: var(--color-primary);
  padding: 0.5rem 0rem;
}

.user-menu {
  text-decoration: none;
  color: var(--color-secondary);
  margin-bottom: 0.75rem;
  font-weight: 700;
  width: 160px;
}

.user-menu:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 8px 0px 8px 8px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

/* El bonton de contacto */
.btn-contact {
  width: 160px;
  margin: 12px 0px;
}
/* El boton de salir*/
.user-menu-btn {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  font-weight: 700;
  width: 160px;
}

.user-menu-btn:hover {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.user-menu-btn a:hover {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.navbar-toggler {
  border: none;
  margin: 0px 12px;
}

.avatar-icon {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}
